# Build products
build/
dist/
DerivedData/
*.xcarchive

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Packages/

# macOS
.DS_Store

# JetBrains IDEs
.idea/
